<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/application.css}">
    <title>Taming Thymeleaf</title>
</head>
<body>
    <!-- <h1 th:text="${pageTitle}" class="text-rxl mx-4 bm-4 border-b-4 border-green-700">Taming Thymeleaf ff</h1> -->
    <h1 th:text="${pageTitle}">Taming Thymeleaf</h1>
    <div>
        <ul>
            <li th:each="scientist: ${scientists}">
                <span th:text="${scientist}"></span>
            </li>
        </ul>
    </div>
</body>
</html>